* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: #1d2129;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

table {
      background: #f8f8f8;
      border-collapse: separate;
      overflow: hidden;
      border-radius: 4px;
      border: 3px solid #9a9a9a;
      width: 100%;
      text-align: center;
}

tr{
border-bottom: 2px solid #9a9a9a;

}


.button-content {
  display: flex;
}

.button-content-main {
  display: block;
}

.push {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.listentry{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    font-size: 80%;
    white-space: normal;
}

.permissions{
  vertical-align: middle;
}


.targetpic{
  max-width: 30px;
  min-width: 30px;
}

.userpic {
    max-width: 100%;
    min-width: 50px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5px;
}

.user{
  display: flex;
}


.profilepic{
display: grid;
min-width: 30px;
}

.input-group {
 display:table
}

.ctc-button{
  border: 2px solid #ddd;
box-shadow: none;
font-size: 100%;
width: 100%;
margin-bottom: 1em;
border-radius: 0px;
background-color: #eee;
color: #777;
padding: .5em .6em;
vertical-align: middle;
box-sizing: border-box;
display: list-item;
border-left: 0px;
}


.copyinput {
  border: 2px solid #ddd;
box-shadow: none;
font-size: 100%;
width: 100%;
margin-bottom: 1em;
border-radius: 0px;
background-color: #eee;
color: #777;
padding: .5em .6em;
vertical-align: middle;
box-sizing: border-box;
display: list-item;
margin-right: 0px;
}

.copylabel{
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%;
}

.logged{
color:white;
display: block;
}


.input-group-button {

 vertical-align:middle
}

.input-group {
 display:flex;

}

.input-group input {

    position: relative
    width: 100%
    display: table-cell

}

.pure-menu-horizontal .pure-menu-list {
    display: flex;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 0px;

}


.copyinput {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 0px;

}

.infobox {
  display: grid;
  border-radius: 0px;
  margin-bottom: 5px;
  color: #393939;
  width: 100%;

}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */


.button-page {
  background: rgb(244, 244, 244);
  display: inline-block;
  border: 1px solid #bebebe;
  border-radius: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #393939;
  width: 100%;
        }

.button-page a {
          background-color: transparent;
          color: #393939;
          text-decoration-line: none;
        }

.permitted{
color: green;

}

.forbidden{
color: red;
}

.pure-button-hover,.pure-button:focus,.pure-button:hover {
 background-color: #093fc3;
 color: white;
 border: 1px solid black;

}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home{
text-align: left;
height: 100%;
font-size: 40px;
margin-top: auto;
margin-bottom: auto;

}


.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    border-bottom: #a2a2a2 1px solid;
    background: #0042b1;
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
     text-transform: none;
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #fff;
    text-decoration: none;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #fff;
    text-decoration: underline;
}



/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0.1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        /*text-align: left;*/
        border-bottom: white 5px solid;
    }
        .home-menu ul {
            float: center;
        }



    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}


.psheader{
  background-color: black;
  padding: 0px;
  text-align: center;
}

.psheaderimg{
  padding: 20px;
  max-width: 800px;
  width: 100%;
}


.button-create{
  border-radius: 2px;
  width: 100%;
  background-color: #ff2534;
  color: white;
  padding: 0.5em 2em;
}


.button-login{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  background-color: #0042b1;
  color: white;
  padding: 0.5em 2em;
}

.content a{
  text-decoration: none;
}

.button-login:hover{
  background-color: #0050d7;
  border: 0px;

}

.button-create:hover{
  background-color: #ef0000;
  border: 0px;

}
